<nav>
  <img class="logo" src="/assets/logo.png" alt="" />
  <h1 *ngIf="service.isLoggedIn()">Moje aplikace</h1>
  <h1 *ngIf="!service.isLoggedIn()">HSQ cz Apps</h1>
  <div *ngIf="service.isLoggedIn()">
    <button mat-button color="warn" [matMenuTriggerFor]="menu">
      <img class="profile-pic" src="/assets/prof.avif" alt="" />
    </button>
  </div>
  <div *ngIf="!service.isLoggedIn()">
    <button mat-button color="warn" routerLink="/login">Login</button>
  </div>
  <mat-menu #menu="matMenu">
    <button mat-menu-item disabled="">
      Profil <i class="bi bi-person"></i>
    </button>
    <button mat-menu-item (click)="logout()">
      Odhlásit <i class="bi bi-box-arrow-right"></i>
    </button>
  </mat-menu>
</nav>
