<notification
  *ngIf="notificationStatus === 'success'"
  notificationContent="Žádanka byla úspěšně aktualizována"
  header="Hotovo"
  loaderColor="green"
></notification>
<notification
  *ngIf="notificationStatus === 'error'"
  notificationContent="Něco se pokazilo, zkuste to znovu"
  header="Chyba"
  loaderColor="red"
></notification>
<h3>Přehled uživatelů</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Jméno</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Akce</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of access">
      <td (click)="openDialog(a)">{{ a.appName }}</td>
      <td (click)="openDialog(a)">{{ a.email }}</td>
      <td (click)="openDialog(a)">{{ a.role }}</td>
      <td>
        <button class="btn btn-danger" (click)="deleteAccess(a.id)">
          Smazat
        </button>
      </td>
    </tr>
  </tbody>
</table>
