<div class="section gradient-bg">
  <div class="img-section center">
    <img src="/apps/assets/prof.jpg" alt="" />
  </div>
  <div class="profile-section center">
    <h2>{{ user.Email }}</h2>
    <h3>{{ user.Name }} {{ user.Surname }}</h3>
    <button *ngIf="!formPassword" class="go-to" (click)="switchForm()">
      Změna hesla
    </button>
    <form *ngIf="formPassword" action="">
      <label for="">Staré heslo</label>
      <input
        name="oldPassword"
        [(ngModel)]="passwords.oldPassword"
        class="form-control"
        type="password"
      />
      <label for="">Nové heslo</label>
      <input
        name="newPassword"
        [(ngModel)]="passwords.newPassword"
        class="form-control"
        type="password"
      />
      <button class="go-to" (click)="changePassword()">Změnit</button>
      <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      <div *ngIf="success" class="alert alert-success">Heslo změněno.</div>
    </form>
    <h3 class="mt-3">Seznam zařízení:</h3>
    <h4 *ngIf="!hardware">Nemáte přiřazeno žádné zařízení.</h4>
    <table
      class="table"
      *ngIf="hardware"
      style="max-width: 400px; border-radius: 5px; overflow: hidden"
    >
      <thead>
        <tr>
          <th scope="col">Název</th>
          <th scope="col">Vlastník</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let h of hardware">
          <td>{{ h.name }}</td>
          <td>{{ h.userName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
