@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
  --primary-color: #003366;
  --secondary-color: #ff6600;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-to {
  border: none;
  padding: 10px;
  color: var(--secondary-color);
  background: var(--primary-color);
  border-radius: 10px;
}
.go-to:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
}
.gradient-bg {
  background: hsla(186, 33%, 94%, 1);

  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#EBF4F5", endColorstr="#B5C6E0", GradientType=1 );
}
